<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>忘记密码/企业画像系统</title>

    <link href="/kon/static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/kon/static/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="/kon/static/public/public.js"></script>

</head>

<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <img class="col-lg-6 d-none d-lg-block" src="/kon/static/user/images/verification.jpg"
                             alt="verification">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">重置密码</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email"
                                               class="form-control form-control-user"
                                               id="username"
                                               aria-describedby="emailHelp"
                                               placeholder="用户名/邮箱">
                                    </div>

                                </form>

                                <button id="resetPassword" class="btn btn-primary btn-user btn-block">
                                    重置密码
                                </button>

                                <hr>

                                <div class="text-center">
                                    <a class="small" href="/kon/verification/register.html">创建账户</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/kon/verification/login.html">已有账户，去登录</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/kon/static/admin/vendor/jquery/jquery.min.js"></script>
<script src="/kon/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/kon/static/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/kon/static/admin/js/sb-admin-2.min.js"></script>

<script src="/kon/static/user/js/forgotPassword.js"></script>

</body>

</html>
