* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    display: block;
    content: "";
    clear  : both;
}

a,
a:hover,
a:active,
a:link,
a:focus {
    text-decoration: none;
    color          : #555;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

.top-intr {
    height          : 30px;
    line-height     : 30px;
    background-color: #F2F2F2;
}

.top-intr div {
    width : 1200px;
    margin: auto;
}

.top-intr p {
    line-height: 30px;
    font-size  : 12px;
}

.top-intr p a:hover {
    color: #128DF1;
}

.top-intr p a {
    padding     : 0 10px;
    border-right: 1px solid #555555;
}

.top-intr p a:last-child {
    border: none;
}

.na-search {
    float: right;
}

.na-search form {
    padding: 25px 30px;
}

.na-search input {
    height        : 35px;
    line-height   : 15px;
    padding       : 5px 10px;
    font-size     : 14px;
    vertical-align: top;
    border        : 1px solid #CCC;
}

.na-search input.btn {
    background-color: #128DF1;
    color           : #FFFFFF;
    border          : none;
}

.na-search input.btn:hover {
    background-color: #FF9900;
}

.na-phone {
    padding: 15px 20px;
}

.na-phone p {
    font-size: 16px;
    padding  : 2px;
}

.na-phone p:last-child {
    font-size  : 18px;
    font-weight: bold;
    color      : #FF9900;
}

.na-phone>div {
    padding-left: 10px;
}


.logobar,
.nav-list ul,
.about,
.pro,
.news,
.link>div,
.foot-nav,
.cp-mes {
    width : 1200px;
    margin: auto;
}

/*nav*/
.nav .na-logo {
    float  : left;
    padding: 20px;
}

.nav .na-phone {
    float: right;
}

.nav .na-phone img {
    width: 50px;
}

.nav .na-phone div {
    float: right;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    padding    : 0px 30px;
    color      : #FFFFFF;
    display    : inline-block;
    height     : 46px;
    line-height: 46px;
    font-size  : 15px;
}

.nav-list {
    background-image   : url(../images/nav.png);
    background-position: center;
    position           : relative;
    bottom             : -8px;
    z-index            : 999;
}

.nav-list li.active a,
.nav-list li a:hover {
    background-color: #FF9900;
}

.nav-list ul {
    padding: 5px 120px;
}

/*title*/
.title {
    padding   : 30px 0;
    text-align: center;
}

.title>div {
    display: inline-block;
}

.title h2 {
    color     : #128DF1;
    text-align: center;
    font-size : 26px;
}

.title h2:after {
    display   : block;
    content   : "";
    margin    : auto;
    margin-top: 5px;
    width     : 210px;
    height    : 20px;
    background: url(../images/h1.png);
}

.title p {
    color     : #128DF1;
    font-size : 20px;
    text-align: center;
}

.title h3 {
    display       : inline-block;
    font-size     : 60px;
    vertical-align: top;
    padding       : 15px 5px;
    color         : #128DF1;
}

.no-titleline h3 {
    color: #FFFFFF;
}

.no-titleline h2:after {
    display: none;
}

.no-titleline h2 {
    padding-bottom: 10px;
    color         : #FFFFFF;
}

.no-titleline p {
    text-align: left;
    color     : #FFFFFF;
}

/*about*/
.about {
    padding: 50px 0;
}

.about-con p {
    line-height: 2;
    font-size  : 14px;
    text-indent: 2em;
}

.about-con p a,
.about-con p span {
    color: #128DF1;
}

.about-con p span {
    font-weight  : bold;
    font-size    : 16px;
    padding-right: 5px;
}

.about-con p a:hover {
    color: #FF9900;
}

.advantage ul {
    padding: 50px 0;
}

.advantage li {
    width     : 25%;
    float     : left;
    text-align: center;
}

.advantage li img {
    width: 50px;
    float: left;
}

.advantage li p {
    font-size  : 20px;
    padding    : 15px;
    color      : #128DF1;
    font-weight: bold;
    float      : left;
}

.advantage li>div {
    display      : inline-block;
    padding      : 5px 20px;
    border       : solid 1px #128DF1;
    border-radius: 10px;
}

/*products*/
.products {
    background: url(../images/probg.jpg);
    padding   : 50px 0 0 0;
}

.products>p {
    text-align: center;
    padding   : 40px;
}

.products>p a {
    padding         : 10px 30px;
    border-radius   : 20px;
    background-color: #FFFFFF;
    color           : transparent;
    color           : #128DF1;
    font-size       : 16px;
}

.products>p a:hover {
    background-color: #FF9900;
    color           : #FFFFFF;
}

.pro-nav {
    width: 150px;
    float: left;
}

.pro-nav li {
    margin          : 5px;
    border-radius   : 10px;
    cursor          : pointer;
    display         : inline-block;
    width           : 150px;
    background-color: #FFFFFF;
    padding         : 10px 0;
}

.pro-nav li a {
    display    : inline-block;
    width      : 100%;
    height     : 100%;
    color      : #FF9900;
    text-align : center;
    font-size  : 15px;
    font-weight: bold;
}

.pro-nav li.active {
    background-color: #FF9900;
}

.pro-nav li.active a {
    color: #FFFFFF;
}

.pro-list {
    margin-left: 200px;
}

.pro-list>ul {
    width: 100%;
}

.pro-list>ul>li {
    width  : 100%;
    display: none;
}

.pro-list>ul>li:first-child {
    display: block;
}

.pro-case li {
    width: 25%;
    float: left;
}

.pro-case li>div {
    padding: 10px;
}

.pro-case li a {
    border          : 2px solid #FFFFFF;
    padding         : 10px;
    background-color: #FFFFFF;
    display         : inline-block;
    width           : 100%;
    height          : 100%;
}

.pro-case li a:hover {
    border-color: #CC7A00;
}

.pro-case li a:hover p {
    color: #DE8A0B;
}

.pro-case li img {
    max-width: 100%;
}

.pro-case li p {
    font-size         : 13px;
    color             : #444;
    text-align        : center;
    margin            : 10px 10px 0;
    padding-top       : 10px;
    border-top        : 1px dashed #CCCCCC;
    overflow          : hidden;
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*news*/
.news {
    padding: 50px 0;
}

.new-img img {
    max-width: 100%;
}

.new-img {
    width  : 50%;
    float  : left;
    padding: 0 50px 0;
}

.new-list {
    width: 50%;
    float: left;
}

.new-list li {
    padding      : 15px 0 15px;
    border-bottom: 1px dashed #CCCCCC;
}

.new-list li p {
    font-size   : 15px;
    margin-right: 100px;
}

.new-list li span {
    float    : right;
    font-size: 15px;
}

.new-list li a:after {
    display: block;
    content: "";
    clear  : both;
}

.new-list li a:hover {
    color: #128DF1;
}

/*link*/
.link {
    padding         : 20px 0;
    background-color: #F8F8F8;
}

.link img {
    float        : left;
    padding-right: 30px;
}

.link li {
    float: left;
}

.link li a {
    display  : inline-block;
    padding  : 10px;
    font-size: 14px;
}

/*footer*/
.foot-nav li {
    float: left;
}

.foot-nav li a {
    font-size: 14px;
    padding  : 10px 15px;
    color    : #FFFFFF;
}

footer {
    background-color: #107FD8;
    padding         : 40px 0 20px;
}

footer ul {
    display: inline-block;
}

.foot-nav {
    text-align: center;
}

.cp-mes {
    padding: 10px;
}

.cp-mes p {
    margin-bottom: 10px;
    font-size    : 14px;
    color        : #FFFFFF;
    text-align   : center;
}

/*aboutpg*/
.pg {
    padding: 0px 0 50px;
}

.pg-nav {
    background-color: #F8F8F8;
    padding         : 10px 0;
}

.pg-nav>div {
    width : 1200px;
    margin: auto;
}

.pg-nav p a:hover {
    color: #107FD8;
}

/*.pg-nav ul{display            : inline-block;}
.pg-nav li{float                : left; padding:0 15px;}
.pg-nav li a{padding            :14px; padding:10px 30px; display: inline-block; border:1px solid #107FD8; color: #107FD8; background-color: #FFFFFF;}
.pg-nav li.active a,.pg-nav li a:hover{background-color: #107FD8; color: #FFFFFF;}*/
.ab-con {
    width  : 1200px;
    margin : auto;
    padding: 30px 0;
}

.ab-con p {
    font-size    : 14px;
    line-height  : 2;
    margin-bottom: 10px;
    text-indent  : 2em;
}

.ab-con>div {
    width : 500px;
    margin: auto;
    height: 250px;
}

.ab-con h3 {
    font-size: 22px;
    margin   : 10px 0 20px;
}

.ab-con h4 {
    font-size: 16px;
    margin   : 10px 0 10px;
}

/*news*/
.newspg {
    width  : 1200px;
    margin : auto;
    padding: 30px 0;
}

.news-con {
    margin-left: 120px;
}

.news-tim {
    float           : left;
    display         : inline-block;
    width           : 90px;
    height          : 90px;
    padding         : 10px;
    margin          : 10px;
    background-color: #107FD8;
}

.news-con h3 {
    font-size: 16px;
    padding  : 15px 0 10px;
}

.news-con h3 a:hover {
    color: #128DF1;
}

.news-con p {
    line-height: 2;
    font-size  : 14px;
}

.news-tim span {
    display    : inline-block;
    width      : 100%;
    font-size  : 28px;
    text-align : center;
    padding-top: 10px;
    color      : #FFFFFF;
}

.news-tim p {
    line-height: 30px;
    font-size  : 14px;
    text-align : center;
    color      : #FFFFFF;
}

.newspg li {
    padding-bottom: 15px;
    border-bottom : 1px dashed #CCCCCC;
}

.newspg li:after {
    display: block;
    content: "";
    clear  : both;
}

/*joinpg*/
.joinpg {
    width  : 1200px;
    margin : auto;
    padding: 30px 0;
}

.joinpg li {
    padding-bottom: 20px;
    border-bottom : 1px solid #ddd;
}

.joinpg li h3 {
    font-size : 20px;
    margin-top: 10px;
}

.joinpg li span {
    display    : inline-block;
    font-size  : 16px;
    padding    : 10px;
    line-height: 30px;
}

.joinpg li p {
    line-height: 2;
    text-indent: 2em;
}

/*contact*/
.contactpg {
    width  : 1200px;
    margin : auto;
    padding: 30px 0;
}

.contactpg>div>div {
    float: left;
    width: 50%;
}

.contactpg iframe {
    width : 100%;
    border: none;
    height: 300px;
}

.contactpg>div>div p {
    font-size  : 15px;
    line-height: 2;
}

.contactpg form {
    padding-top: 30px;
}

.contactpg form input {
    border     : 1px solid #CCC;
    line-height: 30px;
    width      : 49%;
    padding    : 5px 10px;
}

.contactpg form textarea {
    border    : 1px solid #CCC;
    width     : 98.5%;
    padding   : 10px;
    margin-top: 5px;
    height    : 200px;
}

.contactpg form textarea:focus {
    outline: none;
}

.contactpg form p {
    font-size    : 15px;
    margin-bottom: 10px;
}

.contactpg form input[type="button"] {
    width           : 100px;
    background-color: #107FD8;
    color           : #FFFFFF;
    border          : none;
}

/*news-detail*/
.newsdetail {
    width  : 1200px;
    margin : auto;
    padding: 30px 0;
}

.newsdetail h2 {
    font-size : 24px;
    margin    : 10px 0 20px;
    text-align: center;
}

.newsdetail>p {
    text-align: center;
}

.newsdcon {
    padding: 30px 0 0;
}

.newsdcon p {
    font-size  : 15px;
    line-height: 2;
    text-indent: 2em;
}